html {
    background-color: rgb(215, 225, 211);
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

body {
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 40rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5rem;
}

@media (max-width: 900px) {
    main {
        max-width: 90%;
    }
}

main {
    margin: 0 0;
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0;
    transform: translateY(-30px);
    animation: cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s 0.3s forwards slideDownFadeIn;
}

.content {
    font-weight: 100;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-weight: 800;
}

.project-content h1 {
    margin-top: 0;
    padding: 0;
}

/* .dark a {
    color: #ff9776;
} */

a {
    color: #e15226e3;
    /* color: #e15226; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* nav styles */
.nav-links {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .1rem;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px 10px;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #7f857d82;
}

html.dark {
    background-color: #272a25;
    color: #fff;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
    color: #ffffff;
}

.dark .nav-links a {
    color: #fff;
}

/* Animation keyframes */
@keyframes slideDownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}