html {
    background-color: #cad7c4;
    /* oxygen font */
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    width: 45%;
    padding: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
}

.content {
    font-weight:lighter;
    font-size: 1rem;
}

.title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/* nav styles */

.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
}


.nav-links {
    width: 100%;
    margin: 0;
    display: flex;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    border-radius: 10px;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #7f857d;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 5px 10px;
    }

    .menu {
        display: none;
    }
}

html.dark {
    background-color: #1f211e;
    color: #fff;
}

.dark .menu {
    background-color: #fff;
    color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
    color: #ffffff;
}

.dark .nav-links a {
    color: #fff;
}

.dark a {
    color: #ff9776;
}