---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <div>
        <Navigation />
        <!-- <Menu /> -->
        <ThemeIcon />
    </div>
  </nav>
</header>

<style>
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 0;
        margin-top: 1rem;
    }
    nav {
        width: 100%;
    }
    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0;
        width: 100%;
    }
</style>