---
const currentPath = Astro.url.pathname;
---

<div id="main-menu" class="nav-links">
  <a href="/" class={currentPath === '/' ? 'active' : ''}>home</a>
  <a href="/experience" class={currentPath.startsWith('/experience') ? 'active' : ''}>experience</a>
  <a href="/projects/" class={currentPath.startsWith('/projects') ? 'active' : ''}>projects</a>
  <!-- <a href="/more/" class={currentPath.startsWith('/more') ? 'active' : ''}>more</a> -->
</div>

<style>
.nav-links a.active {
  color: #e15226e3;
}
</style>