---
const { url, externalUrl, title, pubDate, lastUpdated, description } = Astro.props;
var usingUrl = url;
if (externalUrl && externalUrl.length > 0) {
    usingUrl = externalUrl;
}
---
<a class="project" href={usingUrl} target={externalUrl ? "_blank" : "_self"}>
    <div class="project-header">
        <div class="project-title">{title}</div>
        <div class="project-dates">{pubDate}</div>
    </div>
    <div class="project-description">{description}</div>
</a>

<style>
    .project {
        /* padding: 1rem; */
        text-decoration: none;
        margin: 0;
        padding: .5rem 0 .5rem 0;
        color: inherit;
        display: flex;
        flex-direction: column;
        gap: 0;
        transition: background-color 0.3s, color 0.3s, padding 0.3s;
        border-radius: 10px;
    }

    .project:hover,
    .project:focus {
        background-color: #7f857d;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff63;
    }

    .project-title {
        font-size: 1rem;
        font-weight: 600;
    }

    .project-dates {
        font-size: 0.9rem;
        font-weight: 100;
    }

    .project-description {
        /* margin: 0; */
        margin-top: 0;
        font-size: 1rem;
        font-weight: 200;
    }
</style>