---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="project-content">
        <div class="project-date">Published: {frontmatter.pubDate}
        {frontmatter.lastUpdated ? ` | Updated: ${frontmatter.lastUpdated}` : ''}
        </div>
        <slot />
    </div>
</BaseLayout>
<style>
  .project-date {
    font-size: 0.8rem;
    font-weight: 100;
    margin: 0;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin: 0;
    padding: 0;
  }
</style>